<h1>Administration of "{{ blog.title }}"</h1>
<ul>
    {% for post in posts %}
        <li>
        {% if post.error %}
            Faulty post: {{ post.file }}<br />
            Reason: {{ post.error }}
        {% else %}
            {{ post.file }}<br />
            {{ post.title }} -- {{ post.date }}<br />
            <a href="{{ post.dev_permalink }}" target="_blank">See development version</a>
            <a href="{{ post.prod_permalink }}" target="_blank">See production version</a>
        {% endif %}
        {% if post.trashed %}
            This post is trashed, <a href="/recover_post/{{ post.title }}">Recover</a>
        {% else %}
            <a href="/trash_post/{{ post.title }}">Trash this post</a>
        {% endif %}
            <a href="/delete_post/{{ post.title }}">Permanently delete this post</a>
        </li>
    {% endfor %}
    <form action="/" method="post">
        New post title: <input type=text name=new_post_name>
        <input type=submit value="Create a new post">
    </form>
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}
</ul>
